 <li class="app--message{{me}}">
                <div class="app--avatar" style="background-image: url({{profile_image_url}})">
                  <img src="{{profile_image_url}}" />
                </div>
                <p class="app--message--text">{{message}}</p>
                <p class="app--message--timestamp"><time class="timeago" datetime="{{created_at}}">{{created_at}}</time></p><!-- 3 hours ago -->
              </li>